<!-- Settings -->
<settings>
  <!-- Global Game Settings -->
  <global>
    <!-- 20 times a second = 50 milliseconds, 1 second is 20*50 = 1000 milliseconds -->
    <setting name="tick_time_ms" type="int">20</setting>
    <setting name="square_width" type="int">150</setting>
    <setting name="sprite_width" type="int">50</setting>
    <setting name="max_loops" type="int">4</setting>
    <setting name="screen_width" type="int">800</setting>
    <setting name="screen_height" type="int">600</setting>
    <setting name="frames_per_row" type="int">3</setting>
    <setting name="frames_per_column" type="int">3</setting>
    <setting name="verbose" type="bool">true</setting>
    <setting name="use_3d_render_manager" type="bool">false</setting>
    <setting name="print_debugging_text" type="bool">false</setting>
    <setting name="print_debugging_text_neighbours_only" type="bool">false</setting>
		<setting name="numPickups" type="int">20</setting>
		<setting name="isNetworkGame" type="bool">false</setting>
  </global>
	
	<networking>
		<setting name="isGameServer" type="bool">false</setting>
		<setting name="gameServerAddress" type="string">Surface</setting>
		<setting name="gameServerPort" type="string">8080</setting>
		<setting name="maxPlayers" type="int">4</setting>
		<setting name="nickname" type="string">Charlie</setting>
		<!-- If its not TCP, we're using 'connected' udp -->
		<setting name="isTcp" type="bool">false</setting>
	</networking>
      
  <!-- Maze Settings -->
  <grid>
    <setting name="rows" type="int">10</setting>
    <setting name="cols" type="int">10</setting>
    <setting name="removeSidesRandomly" type="bool">true</setting>
    <setting name="nowalls" type="bool">false</setting>
  </grid>
  
  <room>
    <setting name="drawHotSpot" type="bool">false</setting>
    <setting name="drawinnerBounds" type="bool">false</setting>	
    <setting name="innerBoundsOffset" type="int">1</setting>	
    <setting name="logWallRemovals" type="bool">true</setting>
  </room>
  
  <pickup1>
    <setting name="assetName" type="string">goldcoin</setting>
  </pickup1>
  
  <pickup2>
    <setting name="assetName" type="string">silvercoin</setting>
  </pickup2>
  
  <pickup3>
    <setting name="assetName" type="string">coppercoin</setting>
  </pickup3>
    
  <!-- Audio settings -->
  <audio>
    <setting name="invalid_move" type="string">low.wav</setting>
    <setting name="fetched_pickup" type="string">boop.wav</setting>
  </audio>
  
  <!-- Player settings -->
  <player>
    <setting name="move_interval" type="int">1</setting>
    <setting name="drawBounds" type="bool">true</setting>
    <setting name="hotspotSize" type="int">50</setting>
    <setting name="drawHotspot" type="bool">true</setting>
    <setting name="hideSprite" type="bool">false</setting>
    <setting name="box_width" type="int">10</setting>
    <setting name="r" type="int">255</setting>
    <setting name="g" type="int">0</setting>
    <setting name="b" type="int">0</setting>
    <setting name="a" type="int">0</setting> 
    <setting name="verbose" type="bool">true</setting>
    <setting name="ignoreRestrictions" type="bool">false</setting>
    <setting name="moveStrategy" type="string">edge</setting> <!-- 'snap' or 'edge' strategy -->
		<setting name="debugMovement" type="bool">false</setting>
  </player>
	
	<EventManager>
		<setting name="logEvents" type="bool">false</setting>
	</EventManager>
  
  <!-- Room fill settings-->
  <room_fill>
    <setting name="r" type="int">255</setting>
    <setting name="g" type="int">255</setting>
    <setting name="b" type="int">0</setting>
    <setting name="a" type="int">0</setting>
    <setting name="enable" type="bool" description="If the room should be filled">false</setting>
  </room_fill>
  
  <!-- Pickup settings -->
  <pickup>
    <setting name="r" type="int">0</setting>
    <setting name="g" type="int">255</setting>
    <setting name="b" type="int">0</setting>
    <setting name="a" type="int">0</setting>		
  </pickup>

</settings>